@import "../../assets/styles/var";

.select {
  position: relative;

  &__label {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-right: 5px;
  }

  &__input {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: $blackColor;
    outline: none;
    padding: 3px 0 3px 8px;
    border: none;
    border-bottom: 1px solid $grayDarkColor;
    width: 224px;

    &::placeholder {
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
    }

    &:focus {
      outline: none;
    }

    &.select__input_error {
      border-bottom: 1px solid crimson;
    }

    &.select__input_success {
      border-bottom: 1px solid $greenColor;
    }
  }

  &__clear-icon {
    cursor: url("../../assets/images/svg/pointer.svg"), pointer;
    position: absolute;
    box-sizing: initial;
    width: 8px;
    height: 8px;
    padding: 2px 2px 6px 15px;
    right: 6px;
    bottom: 0;

    &:hover path {
      fill: $greenColor;
    }
  }
}
