@import "../../assets/styles/var";

.main-page {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 64px 1fr;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__hero-wrapper {
    padding: 32px 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold;
    font-size: 70px;
    line-height: 66px;
    margin-bottom: 34px;
    white-space: nowrap;

    &_green {
      color: $greenColor;
    }

    &_black {
      color: $blackColor;
    }
  }

  &__subtitle {
    color: $grayDarkColor;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 60px;
    white-space: nowrap;
  }

  &__button {
    border-radius: 8px;
  }
}

/* ADAPTIVE */
.main-page {

  @media screen and (max-width: $desktopSize - 1) {
    &__content {
      grid-template-columns: minmax(549px, 1fr) minmax(410px, 1fr);
    }

    &__hero-wrapper {
      padding: 32px 32px;
    }
  }

  @media screen and (max-width: $desktopMinSize - 1) {
    grid-template-columns: 86px 1fr;

    &__content {
      grid-template-columns: 1fr 0;
    }
  }

  @media screen and (max-width: $tabletSize - 1) {
    grid-template-columns: 0 1fr;

    &__hero-wrapper, &__slider-wrapper {
      padding: 0;
      height: 100vh;
    }

    .header {
      padding: 16px 16px 0 16px;
    }

    &__hero {
      box-sizing: border-box;
      flex-grow: 1;
      padding-left: 16px;
      margin-top: 32px;
    }

    &__title {
      font-size: 32px;
      line-height: 100%;
      margin-bottom: 16px;
    }

    &__subtitle {
      padding: 0;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 32px;
    }

    &__button {
      margin-left: -16px;
      height: 50px;
      width: calc(100% + 16px) !important;
      border-radius: 0 !important;
    }
  }
}