@import "../../assets/styles/var";

.checkbox {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  &__input {
    display: none;
  }

  &__label {
    position: relative;
    user-select: none;
    display: flex;
    align-items: center;
    cursor: url("../../assets/images/svg/pointer.svg"), pointer;
  }

  &__label:before {
    content: "";
    display: inline-block;
    min-width: 12px;
    min-height: 12px;
    margin-right: 8px;
    border: 1px solid $grayDarkColor;
  }

  &__input:checked + &__label:before {
    content: "";
    display: inline-block;
    min-width: 12px;
    min-height: 12px;
    margin-right: 8px;
    border: 0.12rem solid $greenColor;
  }

  &__input:checked + &__label:after {
    content: "";
    position: absolute;
    left: 2px;
    bottom: 4px;
    display: inline-block;
    width: 13px;
    height: 10px;
    background-image: url("../../assets/images/svg/okay.svg");
  }

  &__label:hover:before {
    content: "";
    display: inline-block;
    min-width: 12px;
    min-height: 12px;
    margin-right: 8px;
    opacity: 0.7;
    border: 1px solid $greenColor;
  }

    &__input:checked + &__label {
    color: $blackColor;
  }

  &__input:not(:checked) + &__label {
    color: $grayDarkColor;
  }

  &__input:not(:checked) + &__label:hover {
    color: $blackColor;
  }
}
