@import "./assets/styles/reset";
@import "./assets/styles/fonts";
@import "./assets/styles/var";

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  cursor: url("assets/images/svg/cursor.svg"), default;
}

#root {
  width: 100vw;
  height: 100vh;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: url("./assets/images/svg/pointer.svg"), pointer;
}

.nav-link {
  color: $linkBlackDefault;

  &:hover {
    color: $linkBlackHover;
  }
  &:active {
    color: $linkBlackActive;
  }

  &.nav-link_color-green {
    color: $linkGreenDefault;
    &:hover {
      color: $linkGreenHover;
    }
    &:active {
      color: $linkGreenActive;
    }
  }

  &.nav-link_color-black {
    color: $linkBlackDefault;
    &:hover {
      color: $linkBlackHover;
    }
    &:active {
      color: $linkBlackActive;
    }
  }

  &.nav-link_color-gray {
    color: $linkGrayDefault;
    &:hover {
      color: $linkGrayHover;
    }
    &:active {
      color: $linkGrayActive;
    }
  }
}