/* SCREEN SIZE */
$desktopSize: 1440px;
$desktopMinSize: 1024px;
$tabletSize: 768px;
$mobileSize: 320px;

/* COLORS */

$greenColor: #0EC261;
$blackColor: #121212;
$grayDarkColor: #999999;
$grayLightColor: #EEEEEE;

/* LINKS */

$linkGreenDefault: #0EC261;
$linkGreenHover: #EEEEEE;
$linkGreenActive: #FFFFFF;

$linkGrayDefault: #EEEEEE;
$linkGrayHover: #0EC261;
$linkGrayActive: #0EC261;

$linkBlackDefault: #121212;
$linkBlackHover: #0EC261;
$linkBlackActive: #0EC261;

$linkDisabled: #999999;