@import "../../assets/styles/var";

.choice-model-form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	&__radio-wrapper {
		display: flex;
		margin-bottom: 48px;

		.radio {
			margin-right: 16px;
		}

		:last-child {
			margin-right: 0;
		}
	}

	&__cards-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;

		.card {
			width: 100%;
		}

		&::-webkit-scrollbar {
			background: white;
			border: 1px solid $grayLightColor;
			width: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $grayDarkColor;
			border-radius: 2px;
		}
	}

	.button-pagination {
		margin: 10px 0;
		align-self: center;
		align-content: center;
	}
}

/* Adaptive */
.choice-model-form {
	@media screen and (max-width: $desktopSize - 1) {
		&__cards-wrapper {
			grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
		}
	}

	@media screen and (max-width: $desktopMinSize - 1) {
		&__cards-wrapper {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media screen and (max-width: $tabletSize - 1) {
		&__cards-wrapper {
			height: 400px;
			grid-template-columns: 1fr;
			overflow-y: auto;
		}
	}
}
